.button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.button.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.button.outline {
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}
