.switchers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

  margin-top: auto;
}

.btn {
  width: 60px;
  margin-left: auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  margin-top: 30px;
  padding-left: 25px;
}

.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 10px;

  background-color: var(--inverted-bg-color);

  transition: all var(--transition-time) ease-in;

  &.isCollapsed {
    width: var(--sidebar-width-collapsed);
    transition: all var(--transition-time) ease-in;

    .link {
      opacity: 0;
      transition: all var(--transition-time) ease-in;
    }
  }
}
