.profileCard {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 20px;

  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
